[init]
  defaultBranch = main
[user]
  name = Pyae Sone Shin Thant
  email = pssthant@gmail.com
[core]
  editor = nvim
[alias]
  ci = commit -m
  co = checkout
  cb = checkout -b
  st = status
  br = branch
  di = diff
  unstage = reset HEAD --
  last = log -1 HEAD
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[column]
	ui = auto
[pull]
	rebase = true
